.fly-dropdown {
    border: 1px solid #CCC;
    box-shadow: none;
}

.fly-dropdown:before,
.fly-dropdown:after {
    content: '';
    position: absolute;


    width: 0;
    height: 0;

    background: none;
    border-style: solid;
    border-color: transparent;
}

.fly-dropdown_bottom:before {
    left: 50%;
    bottom: 100%;
    margin-left: -5px;
    border-width: 10px 5px;
    border-bottom-color: inherit;
}
.fly-dropdown_bottom:after {
    left: 50%;
    bottom: 100%;
    margin-left: -4px;
    border-width: 8px 4px;
    border-bottom-color: #FFF;
}

.fly-dropdown_top:before {
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 10px 5px;
    border-top-color: inherit;
}
.fly-dropdown_top:after {
    top: 100%;
    left: 50%;
    margin-left: -4px;
    border-width: 8px 4px;
    border-top-color: #FFF;
}

.fly-dropdown_left:before {
    top: 50%;
    left: 100%;
    margin-top: -5px;
    border-width: 5px 10px;
    border-left-color: inherit;
}
.fly-dropdown_left:after {
    top: 50%;
    left: 100%;
    margin-top: -4px;
    border-width: 4px 8px;
    border-left-color: #FFF;
}

.fly-dropdown_right:before {
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px 10px;
    border-right-color: inherit;
}
.fly-dropdown_right:after {
    top: 50%;
    right: 100%;
    margin-top: -4px;
    border-width: 4px 8px;
    border-right-color: #FFF;
}

.fly-dropdown_hidden:before,
.fly-dropdown_hidden:after {
    content: ' ';
}
