.dropdown {
    position: absolute;
    transition: opacity .2s, margin-top .2s;
    z-index: 999;
}
.dropdown::before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    background: inherit;
    box-shadow: inherit;
    z-index: -1;
}
.dropdown_bottom::before {
    top: -5px;
    left: 50%;
    margin-left: -5px;
    -webkit-transform: scaleX(0.6) rotate(45deg);
        -ms-transform: scaleX(0.6) rotate(45deg);
            transform: scaleX(0.6) rotate(45deg);
}
.dropdown_top::before {
    bottom: -5px;
    left: 50%;
    margin-left: -5px;
    -webkit-transform: scaleX(0.6) rotate(45deg);
        -ms-transform: scaleX(0.6) rotate(45deg);
            transform: scaleX(0.6) rotate(45deg);
}
.dropdown_left::before {
    top: 50%;
    right: -5px;
    margin-top: -5px;
    -webkit-transform: scaleY(0.6) rotate(45deg);
        -ms-transform: scaleY(0.6) rotate(45deg);
            transform: scaleY(0.6) rotate(45deg);
}
.dropdown_right::before {
    top: 50%;
    left: -5px;
    margin-top: -5px;
    -webkit-transform: scaleY(0.6) rotate(45deg);
        -ms-transform: scaleY(0.6) rotate(45deg);
            transform: scaleY(0.6) rotate(45deg);
}
.dropdown::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: inherit;
    z-index: -1;
}

.dropdown_hidden {
    opacity: 0;
    margin-top: 10px;
}
