body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: 200 16px/1.6 'Helvetica Neue', Arial;
    color: #333;
}



.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
}
.container:nth-child(2n) {
    background: #F6F6F6;
}
.container--heading {
    text-align: center;
}
.container--heading h1 {
    margin: -1em 0 0;
    font: 200 80px/1.5 Avenir, Arial;
}
.container--heading a {
    color: #666;
    text-decoration: none;
}

.container__i {
    margin: 0 auto;
    padding: 20px 0;
    width: 100%;
    max-width: 700px;
}


pre {
    padding-left: 10px;
    border-left: 2px solid rgba(0, 0, 0, .2);
    font: 200 14px/1.5 'Source Code Pro', Menlo, monospace;
}
code {
    padding: 0 .2em;
    font-family: 'Source Code Pro', Menlo, monospace;
    background-color: rgba(0, 0, 0, .05);
}

.handle {
    color: blue;
    border-bottom: 1px dotted blue;
    cursor: pointer;
}


.position-game {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 100px;
}
.position-game__small {
    width: 10px;
    height: 10px;
    background: rgba(0, 0, 0, .2);
}

.position-game__large {
    width: 100px;
    height: 100px;
    background: rgba(0, 0, 0, .2);
}

.position-game-tooltip {
    min-width: 50px;
    text-align: center;
}

.fly-popover {
    padding: 10px;
}
